.node-front .widget-row {
	margin: 1em 0;
}

.node-front .widget-row:first-child {
	margin: 0 0 1em;
}

.node-front .widget {
	float: left;
}

.node-front .carousel {
	width: 67%;
}

.node-front .features {
	width: 33%;
}

.node-front .news,
.node-front .support {
	width: 33%;
}
.node-front .projects {
	width: 34%;
}

.node-front .widget .widget-inner {
	margin: 0 1em 0 0;
	position: relative;
}

.node-front .widget:last-child .widget-inner {
	margin: 0;
}

.carousel-nav {
	position: absolute;
	top: 10px;
	right: 10px;
	z-index: 10;
}

.carousel-nav a {
	display: block;
	float: left;
	width: 12px;
	height: 12px;
	background-color: #fff;
	border: 1px solid #333;
	border-radius: 50%;
	margin: 0 3px;
}

.carousel-nav a.active {
	background-color: #333;
	background-image: radial-gradient(rgba(255,255,255,0.15),rgba(0,0,0,0));
	border-color: #fff;
}

.view-front-page-carousel {
	position: relative;
	height: 250px;
	width: 633px;
	overflow: hidden;
	box-shadow: 3px 3px 12px -9px #666;
}

.view-front-page-carousel .view-content {
	width: 20000em;
	position: absolute;
}

.view-front-page-carousel .views-row {
	float: left;
	position: relative;
	height: 250px;
	width: 633px;
	background-color: #000;
}

.view-front-page-carousel .views-row .text-only {
	height: 250px;
	width: 633px;
	background-color: #333333;
	background-image: radial-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.1));
	border-radius: 3px;
}

.view-front-page-carousel .field-content {
	display: block;
}

.view-front-page-carousel .views-field-phpcode {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 623px;
	padding: 5px;
	z-index: 5;
	background-image: url(../images/bg-trans-black.png);
	border-radius: 0 0 3px 3px;
}

.view-front-page-carousel .views-field-phpcode a {
	color: #fff;
	font-size: 22px;
	line-height: 25px;
}

.view-front-page-carousel .views-field-body {
	display: none;
	color: #fff;
	font-size: 14px;
	padding: 5px;
}

.view-front-page-carousel .views-row,
.view-front-page-carousel .views-row img {
	border-radius: 3px;
}

.view-front-page-carousel .text-only .views-field-phpcode {
	position: static;
	padding-top: 1em;
	background-image: none;
	border-radius: 3px 3px 0 0;
}

.view-front-page-carousel .text-only .views-field-body {
	display: block;
}

.features,
.features .accordion-list {
	height: 250px;
	border-radius: 3px;
	background-color: #ccc;
}

.features .accordion-list div.item-list {
	border-color: #000;
	border-style: solid;
	border-width: 0 1px 1px;
	height: 101px;
	padding: 3px 0 0;
	border-radius: 0 0 3px 3px;
	background-color: #ffffff;
}

.features h3,
.features .accordion-list div.item-list ul {
	margin: 0;
}

.features h3 {
	border: 1px solid #000;
	color: #000;
	text-shadow: 1px 1px 0px #fff;
	padding: 0.15em 0.5em;
	border-radius: 3px;
	background-image: linear-gradient(45deg, rgba(0,0,0,0.1), rgba(255,255,255,0.1), rgba(0,0,0,0.1), rgba(255,255,255,0.1), rgba(0,0,0,0.1));
}

.features h3.ui-state-active {
	border-radius: 3px 3px 0 0;
}

.features h3.ui-state-active,
.features h3.ui-state-hover {
	background-color: #006633;
	color: #fff;
	text-shadow: -1px -1px 0px #000;
}

.features h3:focus {
	outline: none;
}

.widget .box {
	box-shadow: 3px 3px 12px -6px #666;
}

.widget .box h2 {
	margin: 0;
	padding: 4px 6px;
	background-color: #333;
	color: #fff;
	text-shadow: -1px -1px 0px #000;
	background-image: linear-gradient(45deg, rgba(0,0,0,0.1), rgba(255,255,255,0.1), rgba(0,0,0,0.1), rgba(255,255,255,0.1), rgba(0,0,0,0.1));
	border-color: #333;
	border-style: solid;
	border-width: 1px;
}

.widget .box .content {
	padding: 4px 6px;
	border-color: #333;
	border-style: solid;
	border-width: 0 1px 1px;
}

.widget.news .box,
.widget.projects .box,
.widget.support .box {
	height: 360px;
}

.widget.news .box h2,
.widget.projects .box h2,
.widget.support .box h2 {
	text-shadow: 1px 1px 0px #fff;
}

.widget.news .box .content,
.widget.projects .box .content,
.widget.support .box .content {
	height: 314px;
	font-size: 1.2em;
	line-height: 1.4em;
}

.widget.news .box h2,
.widget.projects .box h2,
.widget.support .box h2 {
	background-color: #ddd;
	color: #111;
}

.news .item-list ul,
.news .item-list ul li,
.support .item-list ul,
.support .item-list ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.news .item-list ul li,
.support .item-list ul li {
	padding: 3px 0;
	border-bottom: 1px solid #cecece;
}

.news .item-list ul li:last-child,
.support .item-list ul li:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

.view-front-page-news .views-field-view-node a:after {
	content: '\2192';
}

.projects {
	text-align: justify;
}

.node-front .title {
	font-size: 34px;
	line-height: 42px;
	color: #000;
	text-shadow: 1px 1px #fff;
}

.node-front a.button {
	display: block;
	padding: 6px 12px;
	border: 1px solid #111;
	background-color: #006633;
	background-image: radial-gradient(rgba(255,255,255,0.1), rgba(0,0,0,0.2));
	border-radius: 6px;
	margin: 12px 6px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	text-shadow: -1px -1px 0px #000 ;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

.node-front a.button:hover {
	text-decoration: none;
	box-shadow: 0px 1px 6px rgba(0,0,0,0.5);
	background-image: radial-gradient(rgba(255,255,255,0.2), rgba(255,255,255,0));
}