.projects-overview-welcome {
        box-shadow: 0px 0px 12px -3px #666;
}

.projects-overview-welcome .pane-title {
        margin: 0.5em 0 0;
        padding: 4px 6px;
        background-color: #DDD;
        color: #111;
        text-shadow: 1px 1px 0px #EFEFEF;
        background-image: linear-gradient(45deg,rgba(0, 0, 0, 0.1),rgba(255, 255, 255, 0.1),rgba(0, 0, 0, 0.1),rgba(255, 255, 255, 0.1),rgba(0, 0, 0, 0.1));
        border-color: #333;
        border-style: solid;
        border-width: 1px;
}

.projects-overview-welcome .pane-content {
        padding: 4px 6px;
        border-color: #333;
        border-style: solid;
        border-width: 0 1px 1px;
        font-size: 1.2em;
        line-height: 1.4em;
}

.pane-projects-listing {
        border-top: 1px solid #ccc;
        padding-top: 1em;
}

.views-field-value-3 {
        border-bottom: 1px solid #ccc;
        margin-bottom: 6px;
}

.views-field-tid {
        margin: 12px 0;
}

.views-label-tid {
        font-weight: bold;
        color: #666;
}
/*
.panel-pane.projects-overview-welcome {
        text-align: justify;
        font-size: 1.15em;
        padding: 1em 1em 0.5em;
        box-shadow: 0 3px 9px -3px #333;
        border: 1px solid #999;
}
*/
.pane-projects-statistics,
.pane-projects-listing-cloud {
        margin-top: 2em;
}       

.pane-projects-listing-cloud {
        text-align: center;
        text-shadow: 1px 1px 9px #ccc;
}
