.panel-sidebar-first .panel-pane {
	box-shadow: 3px 3px 12px -6px #666;
}

.pane-fg-project-tli .pane-content {
	padding: 4px 6px;
	background-color: #eee;
	border: 1px solid #333;
}

.view-fg-project-tli {
	font-size: 1.2em;
	line-height: 1.3em;
}
.view-fg-project-tli label {
	font-weight: bold;
	display: block;
}
.view-fg-project-tli .field-content {
	display: block;
	margin-bottom: 0.5em;
}

.pane-fg-project-actions .pane-title,
.pane-fg-project-people .pane-title,
.pane-fg-project-experts .pane-title,
.pane-fg-project-alumni .pane-title,
.pane-fg-project-keywords .pane-title {
	font-size: 1.2em;
	margin: 0.5em 0 0;
	padding: 4px 6px;
	background-color: #DDD;
	color: #111;
	text-shadow: 1px 1px 0px #EFEFEF;
	background-image: linear-gradient(45deg,rgba(0, 0, 0, 0.1),rgba(255, 255, 255, 0.1),rgba(0, 0, 0, 0.1),rgba(255, 255, 255, 0.1),rgba(0, 0, 0, 0.1));
	border-color: #333;
	border-style: solid;
	border-width: 1px;
}

.pane-fg-project-actions .pane-content,
.pane-fg-project-people .pane-content,
.pane-fg-project-experts .pane-content,
.pane-fg-project-alumni .pane-content,
.pane-fg-project-keywords .pane-content {
	padding: 4px 6px;
	border-color: #333;
	border-style: solid;
	border-width: 0 1px 1px;
}

.pane-project-publications .pane-content h2 {
	font-size: 1.1em;
}

.pane-project-publications .pane-content .views-row {
	margin-bottom: 0.75em;
}

.pane-project-publications .pane-content .views-row .biblio-title a {
	color: #000;
}

.view-project-updates .views-row {
	margin-bottom: 1em;
}
