/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/*
 * Body
 */
body {
  margin: 0;
  padding: 0;
}

#page-wrapper {
}

#page {
}

/*
 * The skip navigation link will be completely hidden until a user tabs to the
 * link. See http://www.webaim.org/techniques/skipnav/
 */
#skip-link a,
#skip-link a:visited {
  position: absolute;
  display: block;
  left: 0;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-align: center;
  background-color: #666;
  color: #fff;
}

#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  position: static;
  width: 100%;
  height: auto;
  padding: 2px 0 3px 0;
}

/*
 * Header
 */
#header {
	border-color: #000000;
	border-style: solid;
	border-width: 0px 1px;
}

#header .section {
}

#top-menu {
	border-radius: 0 0 4px 4px;
	border-color: #444;
	border-style: solid;
	border-width: 0px 1px 1px;
}

#top-menu > div {
	margin: 0;
	padding: 0 3px;
	height: 32px;
	line-height: 32px;
}

#top-menu .with-block-editing .edit {
	top: 100%;
	background-color: #333;
	opacity: .8;
}

#top-menu {
	color: #fff;
	text-shadow: -1px -1px 0px #000;
}

#top-menu a {
	color: #ccc;
	text-decoration: none;
}

#top-menu a:hover {
	color: #fff;
	text-decoration: underline;
}

#session .block {
	margin: 0;
	padding: 0;
	display: inline-block;
	position: relative;
}

#session ul.menu,
#session ul.menu > li {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

#session .block-menu .content > ul.menu > li {
	display: inline-block;
	padding: 0 6px;
}

#session .block-menu .content > ul.menu > li:after {
	content: "";
	height: 32px;
	border-left: 1px solid #111;
	border-right: 1px solid #444;
	position: absolute;
	margin: 0 6px;
}

#session li.expanded > ul.menu {
	display: none;
	position: absolute;
	background-color: #555;
	border: 1px solid #444;
	border-radius: 0 0 3px 3px;
}

#session li.expanded.hover > ul.menu {
	display: block;
	box-shadow: 0px 0px 3px #111;
}

#session li.expanded > ul.menu > li {
	display: block;
	white-space: nowrap;
	border-bottom: 1px solid #444;
	position: relative;
}

#session li.expanded > ul.menu > li:last-child {
	border-bottom: none;
}

#session li.expanded > ul.menu > li a {
	display: block;
	padding: 0px 6px;
	color: #eee;
	text-decoration: none;
}

#session li.expanded > ul.menu > li a:hover {
	color: #fff;
	background-color: #666;
}

#logo /* Wrapping link for logo */ {
  float: left; /* LTR */
  margin: 0;
  padding: 0;
}

#logo img {
  vertical-align: bottom;
}

#name-and-slogan /* Wrapper for website name and slogan */ {
}

h1#site-name,
div#site-name /* The name of the website */ {
  margin: 0;
  font-size: 2em;
  line-height: 1.3em;
}

#site-name a:link,
#site-name a:visited {
  color: #000;
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: underline;
}

#site-slogan /* The slogan (or tagline) of a website */ {
}

.region-header /* Wrapper for any blocks placed in the header region */ {
}

/*
 * Main (container for everything else)
 */
#main-wrapper {
	border-color: #000000;
	border-style: solid;
	border-width: 0px 1px 1px;
}

#main {
}

/*
 * Content
 */
#content {
}

#content .section {
}

#mission /* The mission statement of the site (displayed on homepage) */ {
}

.region-content-top /* Wrapper for any blocks placed in the "content top" region */ {
}

.breadcrumb /* The path to the current page in the form of a list of links */ {
  padding-bottom: 0; /* Undo system.css */
}

h1.title, /* The title of the page */
h2.title, /* Block title or the title of a piece of content when it is given in a list of content */
h3.title /* Comment title */ {
  margin: 0 0 0.5em;
}

tr.even /* Some tables have rows marked even or odd. */ {
  background-color: #fff;
}

tr.odd {
  background-color: #f9f9f9;
}

tbody td {
  border-color: #ddd #eee;
  border-style: solid;
  border-width: 1px;
}

tr.even td.sorting_1 {
  background-color: #f1f1f1;
}

tr.even td.sorting_2 {
  background-color: #f6f6f6;
}

tr.even td.sorting_3 {
  background-color: #fafafa;
}

tr.odd td.sorting_1 {
  background-color: #eaeaea;
}

tr.odd td.sorting_2 {
  background-color: #efefef;
}

tr.odd td.sorting_3 {
  background-color: #f4f4f4;
}

div.messages /* Important messages (status, warning, and error) for the user. See also the declarations in messages.css. */ {
}

div.status /* Normal priority messages */ {
}

div.warning,
tr.warning /* Medium priority messages */ {
  /* border: 1px solid #f0c020; */ /* Drupal core uses: 1px solid #f0c020 */
}

div.error,
tr.error /* High priority messages. See also the .error declaration below. */ {
}

.error /* Errors that are separate from div.messages status messages. */ {
  /* color: #e55; */ /* Drupal core uses a #e55 background */
}

.warning /* Warnings that are separate from div.messages status messages. */ {
  /* color: #e09010; */ /* Drupal core uses a #e09010 background */
}

div.tabs /* See also the tabs.css file. */ {
}

.help /* Help text on a page */ {
  margin: 1em 0;
}

.more-help-link /* Link to more help */ {
  font-size: 0.85em;
  text-align: right;
}

#content-area /* Wrapper for the actual page content */ {
}

ul.links /* List of links */ {
  margin: 1em 0;
  padding: 0;
}

ul.links.inline {
  margin: 0;
  display: inline;
}

ul.links li {
  display: inline;
  list-style-type: none;
  padding: 0 0.5em;
}

.pager /* A list of page numbers when more than 1 page of content is available */ {
  clear: both;
  margin: 1em 0;
  text-align: center;
}

.pager a,
.pager strong.pager-current /* Each page number in the pager list */ {
  padding: 0.5em;
}

.feed-icons /* The links to the RSS or Atom feeds for the current list of content */ {
  margin: 1em 0;
}

.more-link /* Aggregator, blog, and forum more link */ {
  text-align: right; /* LTR */
}

.region-content-bottom /* Wrapper for any blocks placed in the "content bottom" region */ {
}

/*
 * First sidebar (on left in LTR languages, on right in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-first
 * (see the layout.css file.)
 */
.region-sidebar-first {
}

.region-sidebar-first .section {
	margin: -12px 20px -6px -12px;
	padding: 12px 5px 6px;
	box-shadow: 1px 0px 6px -2px #999;
	background-color: #F0F0F0;
	border-right: 1px solid #CCC;
}

/*
 * Second sidebar (on right in LTR languages, on left in RTL)
 *
 * Remember to NOT add padding or margin to your .region-sidebar-second
 * (see the layout.css file.)
 */
.region-sidebar-second {
}

.region-sidebar-second .section {
	margin: -12px -18px -6px 20px;
	padding: 12px 5px 6px;
	box-shadow: -1px 0px 6px -2px #999;
	background-color: #F0F0F0;
	border-left: 1px solid #CCC;
}

#page-bottom {
}

.region-page-bottom {
	border-top: 1px solid #CCC;
	font-size: 0.9em;
	padding: 1em 10px 0px;
	margin: 0 -10px -4px;
	box-shadow: 0px 3px 9px #ccc inset;
	background-color: #F4F4F4;
}

.region-page-bottom .block {
	float: left;
	width: 19%;
	margin: 0 1% 1em 0;
}

.region-page-bottom .block:nth-child(5n + 1) {
	clear: left;
}

.region-page-bottom .block h2.title {
	width: 90%;
	font-weight: normal;
	border-bottom: 1px solid #ccc;
}

.region-page-bottom .block h2.title a {
	color: #111;
	text-decoration: none;
}

.region-page-bottom .block ul,
.region-page-bottom .block ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.region-page-bottom .block li ul li {
	margin: 0 0 0 1.5em;
}

.region-page-bottom .block ul li ul,
.region-page-bottom .block ul li ul li {
	list-style: square;
}

.region-page-bottom::after {
	content: ".";
	display: block;
	clear: both;
	visibility: none;
	font-size: 0;
}

/*
 * Footer
 */
#footer {
	clear: both;
}

#footer .section {
}

#footer-message /* Wrapper for the footer message from Drupal's "Site information"
                   and for any blocks placed in the footer region */ {
	font-size: 0.9em;
	line-height: 1.3em;
	color: #333;
	/*text-align: center;*/
	
}

/**
#footer-message .xsede {
	text-align: left;
	float: left;
}

#footer-message .nsf {
	text-align: right;
	float: right;
}
**/

#footer-message a {
	font-weight: bold;
}

.region-footer {
}

/*
 * Closure
 */
.region-page-closure /* Wrapper for any blocks placed in the closure region */ {
	font-size: 0.9em;
}

.region-page-closure h2 {
	font-size: 1.2em;
	font-weight: normal;
	border-bottom: 1px solid #999;
}

.region-page-closure .block {
	color: #333;
	float: left;
	width: 31%;
	margin: 0 1%;
}

/*
 * Drupal boxes
 *
 * Wrapper for Comment form, Comment viewing options, Menu admin, and
 * Search results.
 */
.box /* Wrapper for box */ {
}

.box h2 /* Box title */ {
}

.box .content /* Box's content wrapper */ {
}

/*
 * Markup free clearing (See: http://www.positioniseverything.net/easyclearing.html )
 */
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be a collapsible fieldset that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
.element-hidden {
  display: none;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user. Must
 * not be used for focusable elements (such as links and form elements) as this
 * causes issues for keyboard only or voice recognition users. "!important" is
 * used to prevent unintentional overrides.
 */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.more-link a:after {
  content: '\2192';
}
