.fg-approve-users-table {
	width: 100%;
	margin: 1em 0;
}

.dataTables_wrapper {
	min-height: 0;
}

.fg-approve-users-table ul,
.fg-approve-users-table ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}