dl.inca-cloud,
dl.inca-cloud dt,
dl.inca-cloud dd,
dl.inca-storage,
dl.inca-storage dt,
dl.inca-storage dd,
dl.inca-hpc,
dl.inca-hpc dt,
dl.inca-hpc dd,
dl.inca-hpc-tests,
dl.inca-hpc-tests dt,
dl.inca-hpc-tests dd,
dl.inca-inca,
dl.inca-inca dt,
dl.inca-inca dd,
dl.inca-services,
dl.inca-modules,
dl.inca-modules dt,
dl.inca-modules dd,
dl.inca-grid,
dl.inca-grid dt,
dl.inca-grid dd,
dl.inca-basic,
dl.inca-basic dt,
dl.inca-basic dd,
dl.inca-benchmarks,
dl.inca-benchmarks dt,
dl.inca-benchmarks dd {
	margin: 0;
	padding: 0;
}

dl.inca-inca dt,
dl.inca-benchmarks dt {
	font-weight: bold;
	border-color: #cccccc;
	border-style: solid;
	border-width: 2px 2px 1px;
	color: #ffffff;
	background-color: #888888;
	padding: 2px 3px 2px 6px;
	border-radius: 3px 3px 0 0;
}

dl.inca-inca a.test-success,
dl.inca-inca a.test-error,
dl.inca-cloud a.test-success,
dl.inca-cloud a.test-error,
dl.inca-storage a.test-success,
dl.inca-storage a.test-error,
dl.inca-benchmarks a.test-success,
dl.inca-benchmarks a.test-error {
	background-repeat: no-repeat;
	background-position: left center;
	height: 24px;
	display: block;
	padding-left: 27px;
	line-height: 24px;
}

/**
dl.inca-inca a.test-success,
dl.inca-benchmarks a.test-success,
dl.inca-grid a.test-success,
dl.inca-storage a.test-success,
dl.inca-hpc-tests a.test-success,
dl.inca-basic a.test-success,
dl.inca-cloud a.test-success,
dl.inca-services a.test-success {
	background-image: url(../images/inca-pass.png);
	background-repeat: no-repeat;
}

dl.inca-inca a.test-error,
dl.inca-benchmarks a.test-error, 
dl.inca-grid a.test-error,
dl.inca-storage a.test-error,
dl.inca-cloud a.test-error,
dl.inca-basic a.test-error,
dl.inca-hpc-tests a.test-error,
dl.inca-services a.test-error {
	background-image: url(../images/inca-fail.png);
	background-repeat: no-repeat;
}

dl.inca-grid a.test-error,
dl.inca-storage a.test-error,
dl.inca-cloud a.test-error,
dl.inca-basic a.test-error,
dl.inca-hpc-tests a.test-error,
dl.inca-services a.test-error {
	color: red;
}

dl.inca-grid a.test-success,
dl.inca-storage a.test-success,
dl.inca-hpc-tests a.test-success,
dl.inca-basic a.test-success,
dl.inca-cloud a.test-success,
dl.inca-services a.test-success {
	color: green;
}
**/

dl.inca-grid div.na,
dl.inca-storage div.na,
dl.inca-hpc-tests div.na,
dl.inca-basic div.na,
dl.inca-cloud div.na,
dl.inca-services div.na {
	display: none;
}

dl.inca-cloud dd.has-warning {
	background-color: #fac58e;
}

dl.inca-storage dd.error p.error-message,
dl.inca-grid dd.error p.error-message {
	display: none;
}

table.statistics {
}

table.statistics tr td {
	padding: 0 6px
}

table.statistics tr td:first-child {
	padding: 0 6px 0 0
}

table.statistics tr td:last-child {
	padding: 0 0 0 6px
}

dl.inca-cloud dt,
dl.inca-storage dt,
dl.inca-basic dt,
dl.inca-grid dt,
dl.inca-services dt,
dl.inca-hpc-tests dt,
dl.inca-hpc dt {
	float: left;
	clear: left;
	font-weight: bold;
	background-color: #888888;
	color: #ffffff;
}

dl.inca-hpc dd,
dl.inca-services dd {
	margin-left: 81px;
}

dl.inca-hpc-tests dt {
	width: 100px;
}

dl.inca-hpc dt {
	width: 75px;
}

dl.inca-modules table {
	table-layout: fixed;
}

dl.inca-modules table col.default {
	width: 65px;
}

dl.inca-modules table col.other {
	width: auto;
}

dl.inca-storage dt,
dl.inca-cloud dt,
dl.inca-basic dt,
dl.inca-grid dt,
dl.inca-services dt {
	width: 200px;
}

dl.inca-hpc-tests dt,
dl.inca-hpc-tests dd,
dl.inca-grid dt,
dl.inca-grid dd {
	height: 30px;
}

dl.inca-modules td.name,
dl.inca-storage dt,
dl.inca-storage dd,
dl.inca-cloud dt,
dl.inca-cloud dd {
	height: 40px;
}

dl.inca-storage dt,
dl.inca-storage dd,
dl.inca-cloud dt,
dl.inca-cloud dd,
dl.inca-basic dt,
dl.inca-basic dd,
dl.inca-hpc-tests dt,
dl.inca-hpc-tests dd,
dl.inca-grid dt,
dl.inca-grid dd,
dl.inca-services dt,
dl.inca-services dd,
dl.inca-hpc dt,
dl.inca-hpc dd {
	padding: 3px;
	border-top: 1px solid #cccccc;
}
